@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&display=swap");

:root {
  --black: #0b0d17;
  --gray: #d0d6f9;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--white);
}

.heading-1 {
  font: normal 150px "Bellefair", serif;
}

.heading-2 {
  font: normal 100px "Bellefair", serif;
}

.heading-3 {
  font: normal 56px "Bellefair", serif;
}

.heading-4 {
  font: normal 32px "Bellefair", serif;
}

.heading-5 {
  font: normal 28px "Barlow", sans-serif;
  letter-spacing: 4.75px;
}

.nav-text {
  font: normal 16px "Barlow", sans-serif;
  letter-spacing: 2.7px;
}

.subheading-1 {
  font: normal 28px "Bellefair", serif;
}

.subheading-2 {
  font: normal 14px "Barlow", sans-serif;
  letter-spacing: 2.35px;
}
