.header__container {
  height: 8%;
  &-content {
    nav {
      background-color: rgba(104, 104, 104, 0.233);
      width: 60%;

      @media (min-width: 640px) {
        font: normal 14px "Barlow", sans-serif;
        letter-spacing: 2.35px;
        width: 65%;
      }

      ul {
        li {
          & + li {
            margin: 15% 0;

            @media (min-width: 640px) {
              margin: 0 10px;
            }
          }

          a {
            @media (min-width: 640px) {
              padding: 28px 0;
              &:hover {
                border-bottom: 2px solid white;
              }
            }

            strong {
              margin: 0 15px;

              @media (min-width: 640px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
