<div
  class="success__container align-items-center d-flex justify-content-center vh-100 vw-100"
>
  <div class="d-flex justify-content-center flex-column">
    <img alt="Checklist icon selected" src="assets/icon-list.svg" width="50" />
    <span>
      <h1 class="fw-bold mb-3">Thanks for subscribing!</h1>
      <p>
        A confirmation email has been sent to
        <strong class="fw-bold">{{ emailValue }}</strong
        >. Please open it and click the button inside to confirm your
        subscription
      </p>
    </span>
    <button
      class="align-items-center border-0 d-flex justify-content-center p-4 rounded-3 text-light"
      (click)="onSubmit()"
    >
      Dismiss message
    </button>
  </div>
</div>
