.form__container {
  //   background-color: #32353d;
  background-color: var(--white);
  div {
    flex-direction: column;
    img {
      width: 100%;
    }
  }

  form {
    div {
      button {
        border-radius: 10px;
        color: white;
        height: 55px;
        width: 300px;
      }

      div {
        width: 300px;

        input {
          border: 2px solid var(--grey);
          border-radius: 7px;
          height: 55px;
          outline: none;
          padding: 6%;
        }

        label,
        p {
          font-size: 12px;
          font-weight: bold;
        }
      }

      span {
        h1 {
          font-size: 40px;
          font-weight: 700;
        }
        p {
          max-width: 300px;
        }
      }

      ul {
        li {
          display: flex;
          img {
            width: 23px;
          }
          p {
            margin: 2% 5%;
          }

          &:nth-child(-n + 2) {
            img {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
