.form__container {
  background-color: var(--white);

  @media (min-width: 1200px) {
    background-color: #32353d;
  }

  &-content {
    flex-direction: column;
    margin-bottom: 11%;
    width: 100%;

    @media (min-width: 1200px) {
      background-color: var(--white);
      border-radius: 20px;
      flex-direction: row-reverse;
      margin-bottom: 0;
      padding: 8px 0;
      width: 800px;
    }

    &-img {
      width: 100%;
      @media (min-width: 1200px) {
        padding: 2%;
        width: 50%;
      }
    }
  }

  form {
    @media (min-width: 1200px) {
      margin-left: 4.5%;
    }

    div {
      margin: 48px 0px 2px 0px;

      @media (min-width: 1200px) {
        margin: 0px 12px 0px 0px;
      }

      button {
        height: 55px;
        width: 100%;

        @media (min-width: 1200px) {
          width: 330px;
        }
      }

      div {
        margin: 12px 0px 8px 0px;
        width: 100%;
        @media (min-width: 1200px) {
          margin: 0;
          padding: 0;
        }
        input {
          border: 2px solid var(--grey);
          height: 55px;
          outline: none;
          padding: 6%;
          width: 100%;
          @media (min-width: 1200px) {
            width: 330px;
          }
        }

        label,
        p {
          margin-bottom: 5px;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .form__text-block {
        h1 {
          color: var(--dark-slate-grey);
          font-size: 40px;

          @media (min-width: 1200px) {
            font-size: 48px;
          }
        }
        p {
          max-width: 300px;
          @media (min-width: 1200px) {
            max-width: 350px;
            font-size: 14px;
          }
        }
      }

      ul {
        margin: 24px 0 2px 0;

        @media (min-width: 1200px) {
          margin: 0;
          margin-bottom: 7%;
        }
        li {
          display: flex;
          img {
            width: 23px;

            @media (min-width: 1200px) {
              width: 20px;
            }
          }
          p {
            margin: 2% 5%;

            @media (min-width: 1200px) {
              margin: 1.5% 3%;
              font-size: 14px;
            }
          }

          &:nth-child(-n + 2) {
            img {
              margin-bottom: 20px;

              @media (min-width: 1200px) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
