<main
  class="form__container align-items-center d-flex justify-content-center vh-100 vw-100"
>
  <div
    class="form__container-content align-items-center d-flex justify-content-center"
  >
    <div class="form__container-content-img">
      <img
        alt="Dashboard ilustration"
        class="w-100"
        [src]="changeImageByScreenSize()"
      />
    </div>
    <form
      action=""
      class="align-items-center d-flex flex-column justify-content-center"
    >
      <div>
        <span class="form__text-block">
          <h1 class="fw-bold">Stay updated!</h1>
          <p>Join 60,000+ product managers receiving monthly updates on:</p>
        </span>
        <ul class="p-0">
          <li>
            <img alt="Checklist icon selected" src="assets/icon-list.svg" />
            <p>Product discovery and building what matters</p>
          </li>
          <li>
            <img alt="Checklist icon selected" src="assets/icon-list.svg" />
            <p>Measuring to ensure updates are a sucess</p>
          </li>
          <li>
            <img alt="Checklist icon selected" src="assets/icon-list.svg" />
            <p>And much more!</p>
          </li>
        </ul>
        <div class="d-flex flex-column">
          <div
            class="align-items-center d-flex flex-row justify-content-between"
          >
            <label for="email">Email address</label>
            <p *ngIf="!isEmailValid && email !== ''" class="text-danger mb-2">
              Valid email required
            </p>
          </div>
          <input
            class="rounded-3"
            id="email"
            name="email"
            placeholder="email@company.com"
            type="search"
            (input)="validateEmail()"
            [class]="changeBorderColor()"
            [(ngModel)]="email"
          />
        </div>
        <button
          class="border-0 fw-bold my-3 rounded-3 text-light"
          type="submit"
          [disabled]="!isEmailValid"
          [style]="
            email == '' || (email !== '' && !isEmailValid)
              ? 'background-color: var(--dark-slate-grey); cursor: not-allowed'
              : 'background-color: var(--tomato);'
          "
          (click)="onSubmit()"
        >
          Subscribe to monthly newsletter
        </button>
      </div>
    </form>
  </div>
</main>
